<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/details.css">
</head>

<body>
<div>
    <a href=""></a>
</div>

    <div>
        <img src="<%= weapon.img %>" class="images">
        <h2>
            <%= weapon.name %>
        </h2>
        <p>
            <%= weapon.description %>
        </p>
    
    </div>
    <form action="/weapons/user/<%=weapon._id%>" method="post">
        <button type="submit" value="add weapon"> Add weapon </button>
    </form>
    
</body>

</html>